.projects {
  justify-content: center;
  max-width: 80vw;
}

.card-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 80px;
}

.home-row {
  z-index: 1;
  width: 100%;
  display: flex;
  flex-direction: row;
}
